@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600;1,700&family=Mrs+Saint+Delafield&display=swap');
body {
  margin: 0;
  font-family: 'Josefin Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-slide-in {
  animation: WidthFull 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 25%;
}

.menu-slide-out {
  animation: WidthFull 1s ease-in-out reverse;
  transition: all 1s ease-in-out;
  width: 0;
  visibility: hidden;
}

@keyframes WidthFull {
  0%{
    width: 0%;
    visibility: hidden;
  }
  100%{
    width: inherit;
    visibility: visible;
  }
}

.show-page {
  animation: AnimatePage 1s ease;
}

@keyframes AnimatePage {
    0%{
      visibility: hidden;
    }
    100%{
      visibility: inherit;
    }
}

